@font-face {
	font-family: yellow_submarine;
	src: url('/media/font/yellow_submarine.ttf');
}

body {
    background-image: url(/media/img/site_bg.png);
    /* background-repeat: repeat-x; */
    background-position: 0px 150px;
    /* background-color: #5c9fe3; */
    background-color: white;
    font-family: arial, verdana;
    color: #4b5c6c;
    font-size: 12px;
}

hr {
    border: 1px solid;
}

h1 {
    /*
    font-family: yellow_submarine;
    color: #e7221b;
    text-shadow: #eaadb9 0px -4px;
    */
    margin: 0px 0px 10px 0px;
    color: #4b5c6c;
}

h3 {
    margin: 0px;
    color: #4b5c6c;
}

p {
    color: #4b5c6c;
    font-size: 12px;
}

a {
    color: #4b5c6c;
    text-decoration: none;
}

a:hover {
    color: #e9892c;
    text-decoration: none;
}

ul {
    padding-left: 15px;;
}

.right {
    float: right;
}

.left {
    float: left;
}

.textright {
    text-align: right;
}

.textcenter {
    text-align: center;
}

.top_images {
    position: relative;
}

.top_images .baldock {
    position: absolute;
    top: 100px;
    right: 760px;
}

.top_images .hand {
    position: absolute;
    top: 0px;
    left: 760px;
}

.top_images .nowhere_man {
    position: absolute;
    top: 115px;
    right: 155px;
    z-index: 10;
}

.top_images .apple_man {
    position: absolute;
    top: 12px;
    right: 130px;
    z-index: -2;
}

.top_images .buldogs {
    position: absolute;
    top: 95px;
    right: 0px;
}

.top_images .blue_meanie {
    position: absolute;
    top: 50px;
    right: 420px;
}

.top_images .sgt_pepper {
    position: absolute;
    top: 32px;
    left: 270px;
    z-index: -2;
}

.top_images .vaccum {
    position: absolute;
    top: 66px;
    right: 270px;
    z-index: -1;
}

.top_images .fish_man {
    position: absolute;
    top: 64px;
    right: 240px;
}

.top_images .sgt_pepper2 {
    position: absolute;
    top: 82px;
    right: 340px;
    z-index: -2;
}

.top_images .lolipop {
    position: absolute;
    top: 117px;
    left: 330px;
    z-index: -1;
}

.top_images .plant1 {
    position: absolute;
    top: 52px;
    left: 340px;
    z-index: -2;
}

.top_images .plant2 {
    position: absolute;
    top: 42px;
    left: 110px;
    z-index: -3;
}

.content_bg {
    background-image: url(/media/img/beatles_corner.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    margin: -10px;
    border:  1px solid;
    padding: 10px;
}

.table_list table {
    width: 100%;
}

.table_list th, td {
    padding: 5px;
    border-radius: 5px;
}

.table_list th {
    text-align: left;
    background-color: #4b5c6c;
    color: #eae6cc;
}

.table_list .even {
    background-color: #afbfcf;
}

.table_list tr {
    border-radius: 5px;
}

.table_list tr:hover {
    color: #993300;
    cursor: pointer;
}

.table_list table.repertory tr:hover {
    color: inherit;
}

.songs_info td {
    white-space: nowrap;
    vertical-align: top;
    overflow-x: hidden !important;
}

.songs_info tr:hover {
    color: inherit !important;
    cursor: inherit !important;
}

div.songs_info {
    overflow-x: scroll !important;
    width: 910px !important;
    max-width: 910px !important;
}

div.songs_info table {
    max-width: 920px !important;
}

#positions_choices td {
    text-align: center;
}

a.button,
.pretty_form input[type=submit],
.pretty_form input[type=button].submit {
    display: block !important;
    padding: 5px 20px 5px 20px;
    background-color: #f7d453;
    box-shadow: #e9892c 0px -5px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    float: right;
    border: none;
    cursor: pointer;
    color: #4b5c6c;
    margin-left: 10px;
}

a.button:hover,
.pretty_form input[type=submit]:hover,
.pretty_form input[type=button].submit:hover {
    color: #e9892c;
}

.pretty_form select[multiple] {
    border-width: 1px;
    border-style: inset;
    border-color: #e2e2e2;
    background-color: #eae6cc;
    background-image: url(/media/img/content_bg.png);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    color: #4b5c6c;
    font-size: 14px;
    width: 460px;
    margin-left: 130px;
    height: 150px;
}

.pretty_form select[multiple] option {
    padding: 5px !important;
    border-radius: 5px;
}

input[type=submit].login_submit {
    min-width: 160px;
    margin: 30px auto 10px auto;
    float: none;
}

input[type=submit].submit {
    min-width: 160px;
    margin: 10px 0 0 0;
    float: right;
}

input[type=submit][disabled=disabled].submit {
    opacity: .5;
}

.profile_area {
    font-size: 14px;
    float: right;
}

.profile_area a {
    display: block;
    border-radius: 5px;
    background-color: #eae6cc;
    padding: 5px 10px 5px 10px;
    float: left;
    margin: 10px 0px 0px 10px;
}

.profile_area a:hover {
    background-color: #f7d453;
    box-shadow: #e9892c 0px -5px;
    color: #4b5c6c;
}

.edit_mode {
    border-radius: 5px;
    background-color: #91af62;
    text-align: center;
    letter-spacing: 20px;
}

.edit_mode div {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.manage_buttons {
    float: right;
}

.manage_buttons form {
    float: left;
}

.manage_buttons a,
.manage_buttons input[type=submit],
input[type=button].small_button {
    display: block;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background-color: #91af62;
    padding: 5px 10px 5px 10px;
    float: left;
    margin: 0px 0px 0px 10px;
    color: #eae6cc;
    cursor: pointer;
}

.manage_buttons a.red,
.manage_buttons input[type=submit].red,
input[type=button].small_button.red {
    color: #eae6cc;
    background-color: #e44b49;
}

.manage_buttons a:hover,
.manage_buttons input[type=submit]:hover,
input[type=button].small_button:hover {
    color: #4b5c6c;
}

input[type=button].small_button {
    display: inline;
    float: none;
}

.margin10 {
    margin: 10px;
}

#draft_view {

}

h1.draft_head {
    background-color: #e9892c;
    padding: 10px;
    border-radius: 5px;
    color: #eae6cc;
}

h1.draft_head ul {
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

h1.draft_head li {
    font-size: 14px;
    padding: 0px;
    list-style: none;
    margin: 0px;
    font-weight: normal;
}

h1.draft_head label {
    font-weight: bold;
}

#header {
    height: 190px;
}

#background-top {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -3;
    width: 100%;
    height: 170px;
    background-color: #eae6cc;
    background-image: url(/media/img/content_bg.png);
}

#yellow_submarine_bar {
    position: absolute;
    top: 165px;
    left: 0px;
    z-index: -1;
    background-image: url(/media/img/yellow_submarine_bar.png);
    background-repeat: repeat-x;
    height: 80px;
    width: 100%;
}

#logo {
    width: 400px;
}

#logo,
#logo .beatles_cover,
#logo .shadow_big,
#logo .shadow_small,
div.yellow_submarine_title,
div.yellow_submarine_title .shadow_big,
div.yellow_submarine_title .shadow_small {
    height: 60px;
    font-family: yellow_submarine;
    font-size: 50px;
    color: #f7d453;

    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -2px 0px 0 #000,
    1px 0px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
    position: relative;
    z-index: 2;
}

div.yellow_submarine_title {
    margin-left: 5px;
}

div.yellow_submarine_title,
div.yellow_submarine_title .shadow_big,
div.yellow_submarine_title .shadow_small {
    font-size: 40px;
}

#logo .beatles_cover {
    font-size: 30px;
    margin-left: 10px;
    text-shadow-color: #e9892c;
}

#logo .alternate {

    text-shadow: 1px 1px 0 #e9892c,
    -1px 1px 0 #e9892c,
    1px -1px 0 #e9892c,
    -1px -1px 0 #e9892c,
    0px 1px 0 #e9892c,
    0px -1px 0 #e9892c,
    -1px 0px 0 #e9892c,
    1px 0px 0 #e9892c,
    1px 1px 0 #e9892c,
    -1px 1px 0 #e9892c,
    1px -1px 0 #e9892c,
    -1px -1px 0 #e9892c,
    0px 1px 0 #e9892c,
    0px -1px 0 #e9892c,
    -2px 0px 0 #e9892c,
    1px 0px 0 #e9892c,
    1px 1px 0 #e9892c,
    -1px 1px 0 #e9892c,
    1px -1px 0 #e9892c,
    -1px -1px 0 #e9892c,
    1px 1px 0 #e9892c,
    -1px 1px 0 #e9892c,
    1px -1px 0 #e9892c,
    -1px -1px 0 #e9892c;
    letter-spacing: 5px;
}

#logo .shadow,
div.yellow_submarine_title .shadow {
    z-index: -1;
    top: -5px;
    position: absolute;
    color: #e9892c !important;
}

#logo .shadow_big,
div.yellow_submarine_title .shadow_big {
    color: #e9892c !important;
}

#logo .shadow_small,
div.yellow_submarine_title .shadow_small {
    top: 2px;
    color: #e9892c !important;
}

#logo_big {
    width: 100%;
}

#logo_big,
#logo_big div {
    font-size: 140px !important;
    margin: 0px !important;
    padding: 0px !important;
}

#logo_big .beatles_cover {
    font-size: 80px !important;
    margin: 0px !important;
    padding: 0px !important;
}

#logo_big #logo {
    width: 900px;
    text-align: center;
    margin: 10px auto 0 auto;
}


#profile label {
    width: 200px;
}

#profile input[type=text],
#profile input[type=password] {
    width: 360px;
}

#menu {
    color: #4b5c6c;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

#menu div.menu_item {
    border-radius: 5px;
    background-color: #eae6cc;
    background-image: url(/media/img/content_bg.png);
    padding: 5px 20px 5px 20px;
    margin-right: 10px;
    float: left;
    cursor: pointer;
}

#menu a {
    color: #4b5c6c;
    text-decoration: none;

}

#menu div.menu_item:hover,
#menu div.selected {
    background-color: #f7d453;
    box-shadow: #e9892c 0px -5px;
    background-image: none;
}

#content,
#login {
    background-color: #eae6cc;
    background-image: url(/media/img/content_bg.png);
    padding:  10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#login {
    margin: 50px auto 10px auto;
    width: 300px;

}

#login input {
    width: 180px;
}

#login li {
    margin-left: 0px;
}

#login label {
    width: 50px;
}

.portlet {
    background-color: #eae6cc;
    background-image: url(/media/img/content_bg.png);
    padding:  10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.portlet h2 {
    margin: 0px;
    font-size: 14px;
}

.portlet ul {
    padding: 0px !important;
}

.portlet li {
    list-style: none;
    margin-bottom: 4px;
}

#footer {
    background-color: #eae6cc;
    background-image: url(/media/img/content_bg.png);
    height: 20px;
    padding: 7px 0px 13px 5px;
    border-radius: 5px;
    margin: 0px 15px 10px 5px;
}

#footer p {
    margin: 6px 0px 0px 0px;
    padding: 0px;
    font-size: 12px;
}

#footer .right {
    text-align: right;
}

#search {
    margin-top: 10px;
}

#search input[type=text] {
    background-color: #eae6cc;
    background-image: url(/media/img/content_bg.png);
    border-radius: 5px;
    width: 280px;
    border: none;
    color: #4b5c6c;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    margin:  0px;

}

#search_results {
    min-height: 200px;
}

#search_results ul {
    list-style: none;
}

#search_results li {
    *margin-bottom: 10px;
    border-bottom: 1px dashed #4b5c6c;
}

#search_results div.search_image {
    float: left;
    margin-right: 10px;
}

#search_results div.search_image img {
    border-radius: 5px;
}

#search_results div.search_result {
    border-radius: 5px;
    padding: 5px 5px 3px 5px;
}

#search_results div.search_result:hover {
    background-image: url(/media/img/content_bg_2.png);
    cursor: pointer;
}

#search_results span.summary {
    font-size: 11px;
}

.section_content {
    text-align: justify;
}

.section_content img {
    border-radius: 5px;
}

/* VIDEO ALBUM */

.video_album {

}

.video_album ul {
    padding:  0px;
}

.video_album li {
    list-style: none;
    margin-bottom: 40px;
    border-radius: 5px;
}

.video_album div.video_embed {
    border-radius: 5px;
    padding: 12px 13px 10px 12px;
    background-color: #000;
    margin-top: 10px;
}

.video_album p {
    margin: 0px 0px 5px 0px;
}


/* AJAX VIDEO DETAILS */

.ajax_video_details {
    margin: 10px 0px 0px 120px;
}

.ajax_video_details p {
    margin: 0px 0px 5px 0px;
}

.ajax_video_details .ajax_video_thumbnail {
    margin: 0px 10px 0px 10px;
    float: left;
}

.ajax_video_details .ajax_video_thumbnail img {
    border-radius: 5px;
}

.ajax_video_details .ajax_video_info {
    float: none;
}


/* VIDEO ALBUM LIST */

ul.video_album_list {
    padding: 0px;
}

ul.video_album_list li {
    list-style: none;
    display: block;
    float: left;
    width: 285px;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 7px 10px;
    border-radius: 5px;
}

ul.video_album_list img {
    border-radius: 5px;
}

ul.video_album_list p {
    margin: 0px 0px 5px 0px;
}

ul.video_album_list div.video_album_cover {
    float: left;
    margin-right: 10px;
}

ul.video_album_list li.video_album_item:hover {
    background: url(/media/img/content_bg_2.png) repeat;
    cursor: pointer;
}

/* PHOTO ALBUM LIST */

ul.photo_album_list {
    padding: 0px;
}

ul.photo_album_list li {
    list-style: none;
    display: block;
    float: left;
    width: 285px;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 7px 10px;
    border-radius: 5px;
    height: 95px;
    overflow-y: hidden;
}

ul.photo_album_list img {
    border-radius: 5px;
}

ul.photo_album_list p {
    margin: 0px 0px 5px 0px;
}

ul.photo_album_list div.photo_album_cover {
    float: left;
    margin-right: 10px;
}

ul.photo_album_list li.photo_album_item:hover {
    background: url(/media/img/content_bg_2.png) repeat;
    cursor: pointer;
}

/* PHOTO LIST */

ul.photo_list {
    padding: 0px;
}

ul.photo_list li {
    list-style: none;
    display: block;
    float: left;
    padding: 10px 10px 7px 10px;
    border-radius: 5px!important;
    position: relative;
    margin: 0px -1px 0px 0px;
    overflow-y: hidden;
    max-height: 122px;
}

ul.photo_list li:hover {
    background: url(/media/img/content_bg_2.png) repeat;
    cursor: pointer;
}

ul.photo_list li.selected {
    border: 5px solid #e9892c;
}

ul.photo_list img {
    border-radius: 5px;
    margin: 0;
    padding: 0;
    width: 184px;
}

div#all_instruments ul.photo_list li:hover {
    background: url(/media/img/content_bg.png) repeat;
    cursor: pointer;
}

ul.list_pair li {
    width: 285px;
    margin: 0px 0px 0px 0px;
}

ul.list_triplet li {
    width: 184px;
    margin: 0px -1px 0px 0px;
}

ul.list_quadruplet li {
    width: 136px;
    margin: 0px -2px 0px -2px;
}

ul.list_pair img {
    width: 285px;
    height: 190px;
}

ul.list_triplet img {
    width: 184px;
    height: 122px;
}

ul.list_quadruplet img {
    width: 136px;
    height: 90px;
}

ul.instrument_image img {
    width: auto;
    height: 90px;
}

ul.instrument_image li {
    height: 90px;
    width: 90px;
    text-align: center;
}

ul.square img {
    width: 90px !important;
    height: 90px  !important;
}

ul.photo_auto img {
    width: auto !important;
    height: auto  !important;
}

ul.highlighted li {
    margin: 3px;
    border: 1px dashed;
}

ul.photo_list p {
    border-radius: 5px;
    padding: 0px 7px 0px 7px;
    position: absolute;
    background-image: url(/media/img/content_bg_2.png);
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    bottom: 15px;
    left: 15px;
    width: 160px;
    margin: 0;
}

ul.list_pair p {
    width: 260px;
    left: 15px;
}

ul.list_triplet p {
    width: 160px;
    left: 15px;
}

ul.list_quadruplet p {
    width: 110px;
    left: 15px;
}

div.photo_album div.view_action {
    float: right;
}

div.photo_album div.view_action a {
    display: block;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background-image: url(/media/img/content_bg_2.png);
    float: left;
    margin-left: 10px;
    opacity: 0.6;
}

div.photo_album div.view_action a:hover {
    opacity: 1;
}

div.photo_album div.view_action a.selected {
    border: 1px solid;
}

div.photo_album div.view_action a span {
    display: block;
    float: left;
    background: #4b5c6c;
    border-radius: 3px;
}

div.photo_album div.view_action a.pair span {
    width: 12px;
    height: 12px;
    margin: 5px 0px 0px 5px;
}

div.photo_album div.view_action a.triplet span {
    width: 9px;
    height: 9px;
    margin: 3px 0px 0px 3px;
}

div.photo_album div.view_action a.quadruplet span {
    width: 7px;
    height: 7px;
    margin: 2px 0px 0px 2px;
}

div.message {
    border-radius: 5px;
    background-color: #91af62;
    color: #eae6cc;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
}

div#map_canvas {
    border-radius: 5px;
    border: 3px solid;
    width: 605px;
    height: 400px;
    margin-top: 10px;
    display: none;
}

form div#map_canvas {
    width: 570px;
}

div.loading_icon {
    position: absolute;
}

.event_flyer {
    float: left;
    margin-right: 10px;
    max-height: 360px;
    max-width: 360px;
    overflow: hidden;
}

.event_flyer span {
    cursor: pointer;
}

.event_flyer span:hover {
    opacity: .8;
}

.event_details {
    max-height: 255px;
}

.last_updated {
    float: right;
    font-size: 12px;
}

.ui-state-highlight {
    height: 40px;
}

tr.album-resource:hover {
    color: inherit;
    cursor: auto;
}

tr.album-resource {
    background-image: url(/media/img/content_bg_2.png);
}

tr.album-resource td {
    padding: 2px;
}

div.songs_content {
    display: none;
    padding: 5px;
    width: 300px;
    background-image: url(/media/img/content_bg_2.png);
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

div.songs_content div.icon_image {
    float: left;
    margin-right: 10px;
    height: 25px;
    clear: left;
}

div.songs_content div.icon_image img {
    height: 25px;
    border-radius: 5px;
}

div.songs_content div.song_name {
    padding-top: 7px;
    padding-bottom: 5px;
}

div.songs_content div.song_block {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 2px;
}

div.songs_content div.song_block:hover,
div.songs_content div.selected {
    background-color: #afbfcf;
}

.pretty_select {
    max-width: 200px;
}

.simple_menu {
    position: absolute;
    top: 20px;
    right: -10px;
    width: 200px;
    background-image: url(/media/img/content_bg_2.png);
    z-index: 999;
    border-radius: 5px;
    padding: 5px;
    display: none;
    border: 2px solid #4b5c6c;
    box-shadow: #333333 0px 0px 30px 2px;
    -moz-box-shadow: #333333 0px 0px 30px 2px;
    -webkit-box-shadow: #333333 0px 0px 30px 2px;
}


div.pretty_select div.icon {
    float: left;
    margin-right: 10px;
    max-height: 25px;
    clear: left;
    max-width: 25px;
}

div.pretty_select div.icon img {
    max-height: 25px;
    border-radius: 5px;
}

div.pretty_select div.title {
    padding-top: 7px;
    padding-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
}

div.pretty_select div.title.highlight:hover {
    color: #e9892c;
}

div.pretty_select h3 div.title {
    text-align: left !important;
}

div.pretty_select div.option {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 2px;
}

div.pretty_select div.option:hover,
div.pretty_select div.selected {
    background-color: #afbfcf;
}

div.pretty_select h3 {
    text-align: center;
    padding: 5px;
    background-color: #4b5c6c;
    color: #eae6cc;
    border-radius: 5px;
    margin-bottom: 10px;
}

div.pretty_select h3.play,
div.pretty_select h3.sing {
    display: none;
}

div.pretty_select h4.secondary_option {
    padding: 5px 3px 3px 8px;
    margin: 0px 0px 5px 0px;
    background-image: url(/media/img/content_bg.png);
    border-radius: 5px;
}
div.pretty_select h4.secondary_option div.action_button,
div.pretty_select h3 div.action_button {
    float: right;
    padding: 3px 5px 0px 0px;
    cursor: pointer;
}

div.notes_area {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 605px;
    height: 430px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    background-image: url(/media/img/content_bg.png);
    margin-bottom: 50px !important;
    box-shadow: #333333 0px 0px 30px 2px;
    -moz-box-shadow: #333333 0px 0px 30px 2px;
    -webkit-box-shadow: #333333 0px 0px 30px 2px;
}

div.notes_area h3 {
    margin: -5px -5px 10px -5px;
}

div.notes_area .cleditorMain {
    margin: 0px 0px 15px 0px;
}

div.notes_area textarea {
    width: 380px;
    height: 160px;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

div.notes_area .notes_save {
    text-align: center;
    margin-top: 5px;
}

img.add_player,
img.player {
    border: 1px solid transparent;
}

img.add_player:hover,
img.player:hover {
    cursor: pointer;
}

img.player_is_lead {
    border-bottom: 1px solid red;
}

.nopadding {
    padding: 0px !important;
    margin: 0px !important;
}

.nopadding img {
    padding: 0px !important;
    margin: 0px !important;
}

.center {
    text-align: center !important;
}

.repertory_group_block td {
    cursor: default !important;
}

img.remove_song {
    cursor: pointer;
}

div.metadata {
    margin-left: 100px;
}

div.metadata ul {
    list-style: none;
    margin-left: 10px;
}

div.metadata ul li {
    margin: 10px 0px 0px 0px;
}

div.metadata ul li.list_value {
    width: auto;
    display: inline;
    margin-right: 5px;
    border-right: 1px solid;
    padding-right: 10px;
}

div.metadata ul li a {
    text-decoration: underline;
}

.centralize {
    margin-left: auto !important;
    margin-right: auto !important;
}


.tag {
    float: left;
    padding: 2px;
    font-weight: bold;
    background-color: #4b5c6c;
    color: #f7d453;
    margin: 3px;
    border-radius: 5px;
    border: 2px solid #4b5c6c;
    font-size: 13px;
    min-width: 70px;
    text-align: center !important;
    height: 50px !important;
    width: 84px;
}

.tag:hover {
    cursor: pointer;
    border: 3px solid #4b5c6c;
    opacity: 1 !important;
}

.tag.tag_selected {
    color: #eae6cc;
    border: 3px solid black !important;
    opacity: 1 !important;
}

.tag.level1 {
    background-color: #afbfcf;
    color: #4b5c6c;
    border: 3px solid #afbfcf;
    opacity: 0.8;
}

.tag.level2 {
    background-color: #a1cb5e;
    color: #4b5c6c;
    border: 3px solid #a1cb5e;
    opacity: 0.8;
}

.tag.level3 {
    background-color: #e24a4d;
    color: #eae6cc;
    border: 3px solid #e24a4d;
    opacity: 0.8;
}

.tag.level4 {
    background-color: #db5d96;
    color: #eae6cc;
    border: 3px solid #db5d96;
    opacity: 0.8;
}

.tag.level5 {
    background-color: #8b3b5f;
    color: #eae6cc;
    border: 3px solid #8b3b5f;
    opacity: 0.8;
}

.loading_cursor {
    cursor: url(/media/img/loading.gif), auto !important;
}

#dashboard {
    width: 900px;
    margin: 0px auto 0px auto;
}

#dashboard .dashboard_item {
    float: left;
    padding: 10px;
    margin:  0px 10px 0px 10px;
    width: 260px;
    border-radius: 5px;
}

#dashboard .dashboard_item:hover {
    background-image: url(/media/img/content_bg_2.png);
}

#dashboard .dashboard_item .dashboard_image {
    width: 260px;
    height: 200px;
    margin: 0px auto 10px auto;
}

#dashboard .dashboard_item .dashboard_image img {
    width: 260px;
    height: 200px;

}

#dashboard .dashboard_item .dashboard_title {
    margin: 0px auto 0px auto;
    width: 260px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#music_management_title {
    width: 290px;
}

#music_management_title:hover {
    cursor: pointer;
    color: #f7c413;
}

.repertory .sort_column {
    width: 8px;
}

.repertory .cover_column {
    width: 20px;
}

.repertory .name_column {
    width: 160px;
}

.repertory .name_column div {
    width: 160px;
    white-space: nowrap;
    overflow-x: hidden !important;
}

.repertory .duration_column {
    width: 30px;
}

.repertory .status_column {
    width: 70px;
    text-align: center;
}

.repertory .tempo_column {
    width: 50px;
}

.repertory .ratings_column {
    width: 100px;
}

.repertory .mode_column {
    width: 30px;
}

.repertory .tonality_column {
    width: 30px;
}

.repertory .players_column {
    width: 260px;
    padding: 3px 0px 0px 3px;
}

.repertory .players_column img {
    margin:  0px;
}

.repertory .players_column img.add_player {
    margin-top: 1px;
    margin-right: 5px;
}

.repertory .actions_column {
    padding-top: 8px;
    width: 20px;
}


.song_mode {
    color: #000000;
    padding: 0px;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    width: 30px;
    background-color: #FDFCEE;
    color: #333333;
    border: 2px solid #FDFCEE;
    margin: 0 auto 0 auto;
    text-align: center;
}

.song_mode:hover {
    border: 2px solid #4b5c6c !important;
    cursor: pointer;
}

.mode1,
.repertory .mode1 {
    background-color: #7CA0C7;
    border: 2px solid #7CA0C7;
}

.mode2,
.repertory .mode2 {
    background-color: #f7c413;
    border: 2px solid #f7c413;
}

.mode3,
.repertory .mode3 {
    background-color: #993300;
    border: 2px solid #993300;
    color: white;
}

.song_status {
    padding: 0px;
    border-radius: 3px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    width: 70px;
    background-color: #FDFCEE;
    color: #ffffff;
    border: 2px solid #FDFCEE;
    margin: 0 auto 0 auto;
    text-align: center;
}

.song_status:hover {
    border: 2px solid #4b5c6c;
    cursor: pointer;
}

.status1 {
    background-color: #993300;
    border: 2px solid #993300;
}

.status2 {
    background-color: red;
    border: 2px solid red;
}

.status3 {
    background-color: #7CA0C7;
    border: 2px solid #7CA0C7;
    color: black;
}

.status4 {
    background-color: #f7c413;
    border: 2px solid #f7c413;
    color: black;
}

.status5 {
    background-color: green;
    border: 2px solid green;
}

.status6 {
    background-color: gray;
    border: 2px solid gray;
}


.tempo_slider {
    width: 180px;
    margin: 0px auto 10px auto;
}

.tempo_body {
    color: #4b5c6c;
}

.tempo_display {
    margin-bottom: 5px;
    font-size: 15px;
}

.tempo_metronome:hover {
    color: red;
    font-weight: bold;
}

.metronome_graphic {
    padding: 5px;
    border: 2px solid #4b5c6c;
    border-radius: 5px;
    background-image: url(/media/img/content_bg_2.png);
    z-index: 99999;
}

.metronome_graphic .led {
    float: left;
    background-image: url(/media/img/ledlightblue.png);
    width: 50px;
    height: 50px;
}

.metronome_graphic .tick {
    background-image: url(/media/img/ledred.png);
}

.metronome_graphic .tack {
    background-image: url(/media/img/ledorange.png);
}

.tonality_atonal,
.tonality_minor,
.tonality_major,
.tonality_undefined,
.tonality_original {
    color: #000000;
    padding: 0px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    margin: 3px;
    display: block;
    float: left;
    width: 40px;
    text-align: center;
}

.tonality_block {
    display: block;
    margin: 0px;
    float: none;
    margin: 0px auto 0px auto;
}

.tonality_atonal:hover ,
.tonality_minor:hover ,
.tonality_major:hover ,
.tonality_undefined:hover,
.tonality_original:hover {
    border: 2px solid #4b5c6c;
    cursor: pointer;
}

.tonality_original:hover {
    border: 2px solid #f7c413;
}

.tonality_changed {
    color: red;
}

.tonality_atonal {
    background-color: gray;
    border: 2px solid gray;
    color: #ffffff;
}

.tonality_minor {
    background-color: #5f9ea0;
    border: 2px solid #5f9ea0;
}

.tonality_major {
    background-color: #daa520;
    border: 2px solid #daa520;
}

.tonality_undefined {
    background-color: #efefef;
    border: 2px solid #efefef;
}

.tonality_original {
    background-color: #000000;
    border: 2px solid #000000;
    color: white;
}

div.ratings_player img,
td.ratings_cel img {
    cursor: pointer;
}

#audio_player {
    width: 340px;
    min-height: 65px;
    background-image: url(/media/img/content_bg_2.png);
    border: 2px solid #4b5c6c;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    right: 0px;
    display: none;
    box-shadow: #333333 0px 0px 30px 2px;
    -moz-box-shadow: #333333 0px 0px 30px 2px;
    -webkit-box-shadow: #333333 0px 0px 30px 2px;
    z-index: 999;
}

#audio_player h3 {
    text-align: center;
    padding: 5px;
    background-color: #4b5c6c;
    color: #eae6cc;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
}

#audio_player .audio_slider {
    width: 160px;
    float: left !important;
    margin-top: 5px;
}

#audio_player .time {
    float: left;
}

#audio_player .time,
#audio_player .remaining_time {
    width: 30px;
    height: 20px;
    margin: 5px 10px 0px 10px;
    float: left;
}

#audio_player .controls {
    width: 330px;
    margin: 5px; auto 0 auto;
}

#audio_player .controls .play,
#audio_player .controls .stop,
#audio_player .controls .mute,
#audio_player .controls .pause,
#audio_player .controls .advanced {
    width: 24px;
    height: 24px;
    cursor: pointer;
    float: left;
}

#audio_player .play_audio_area,
#audio_player .upload_audio_area {
    height: 16px;
}

#audio_player .controls .play {
    background-image: url(/media/img/play_icon_24.png);
}

#audio_player .controls .stop {
    background-image: url(/media/img/stop_icon_24.png);
}

#audio_player .controls .pause {
    background-image: url(/media/img/pause_icon_24.png);
}

#audio_player .controls .mute {
    background-image: url(/media/img/mute_icon_24.png);
    margin-right: 10px;
}

#audio_player .controls .advanced {
    background-image: url(/media/img/audio_track_icon_16.png);
    width: 16px;
    height: 16px;
    margin-left: 10px;
    margin-top: 2px;
}

#audio_player .advanced_controls {
    display: none;
}

#audio_player .speed_slider {
    width: 120px;
    height: 7px;
    margin: 5px 0 10px 5px;
    float: left;
    background-color: olive !important;
}

#audio_player .speed_label {
    width: 40px;
    float: left;
    margin: 5px 0px 0px 5px;
}

#audio_player .speed {
    width: 20px;
    margin: 5px 0px 0px 5px;
    margin-left: 60px;
}

#audio_player .advanced_controls {
    width: 180px;
    margin: 0px auto 0px auto;
}

.pp_overlay div.progress_bar {
    border-radius: 5px;
    width: 250px;
    height: 20px;
    margin-top: 10px;
    border: 1px solid #eae6cc;
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
    background-color: #91af62;
    background-image: url(/media/img/content_bg_2.png);
    background-repeat: no-repeat;
    background-position: 0;
}