{% load i18n %}

<h1>{{ event.name }}</h1>
<h3>{{ event.description }}</h3>
<p>{% autoescape off %}{{ event.content }}{% endautoescape %}</p>
<p>Data: {{ event.starts_at }}</p>
{% with event.location as location %}
    {% include "event/location.html" %}
{% endwith %}
<div class="clear"></div>
{% with event.video_albums.all as albums %}
    {% if albums %}
    <h3>{% trans 'See the videos related to this event below' %}</h3>
    {% include "video/video_albums.html" %}
    {% endif %}
{% endwith %}