{% load i18n %}
{% load photoutils %}
<div class="clear"></div>
<div style="clear: both;">
    {% if event.flyers.count %}
        <div class="event_flyer">
            {% with event.flyers as albums %}
                {% for album in albums %}
                    {% for img in album.photos.all %}
                        <span href="{% img_url img 'huge' %}">
                            <img src="{% img_url img 'big' %}" />
                        </span>
                    {% endfor %}
                {% endfor %}
            {% endwith %}
        </div>
    {% endif %}
    <div class="event_details">
        <h1>{{ event.name }}</h1>
        <h3>{{ event.description }}</h3>
        <p>{% autoescape off %}{{ event.content }}{% endautoescape %}</p>
        <p><strong>{% trans "Date" %}:</strong>: {{ event.starts_at }}</p>
        {% if permissions.manage_repertories and event.id %}
            {% if event.repertories.count %}
                <p>
                    <strong>{% trans "Repertory: " %}</strong>
                    {% for repertory in event.repertories.all %}
                        <a href="{% url event_repertory repertory.id %}">
                            {% trans "click here to see the repertory" %}
                        </a>
                    {% endfor %}
                </p>
            {% else %}
                <p>
                    <strong>{% trans "Repertory:" %}</strong>
                    <a href="{% url add_event_repertory_for_event event.id %}" style="text-decoration: underline;">{% trans "Create a new one from scratch" %}</a>{% trans " or" %}
                    <a href="{% url add_event_repertory_for_event event.id %}?import_from_last=1" style="text-decoration: underline;">{% trans "Create a repertory based on songs of the last event." %}</a>
                </p>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="clear"></div>
{% with event.location as location %}
    {% include "event/location.html" %}
{% endwith %}
<div class="clear"></div>
{% with event.photos as albums %}
    {% if albums %}
        <br />
        <h3>{% trans 'See the photos related to this event below' %}</h3>
        {% include "photo/photo_albums.html" %}
    {% endif %}
{% endwith %}
<div class="clear"></div>
{% with event.video_albums.all as albums %}
    {% if albums %}
        <br />
        <h3>{% trans 'See the videos related to this event below' %}</h3>
        {% include "video/video_albums.html" %}
    {% endif %}
{% endwith %}
<div class="clear"></div>
{% if repertory %}
    <div>
        <h2>{% trans 'Repertory of the day' %}</h2>
        {% include "music/public_event_repertory.html" %}
    </div>
    <br />
{% endif %}
