{% extends "base.html" %}
{% load i18n draftutils %}

{% block stylesheet %}
    <link rel="stylesheet" href="/media/css/prettyPhoto.css" type="text/css" />
    <script type="text/javascript" src="/media/js/event.js"></script>
    <script type="text/javascript" src="/media/js/jquery/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/media/js/photos.js"></script>
    <script type="text/javascript" src="/media/js/videos.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="/media/js/maps.js"></script>
{% endblock %}

{% block open_grap_tags %}
    <meta property="og:title" content="{% blocktrans with name=event.name %}Hey Baldock Event {{ name }}{% endblocktrans %}"/>
    <meta property="og:description" content="{{ event.description }}"/>
    <meta property="og:image" content="http://{{ site_domain }}/{{ event.first_flyer.image_big_url }}"/>
    <meta property="og:url" content="http://{{ site_domain }}{{ event.url }}"/>
{% endblock %}

{% block content %}

{% object_manage_buttons user 'event' event.id %}
{% if user.is_authenticated %}
    <div class="manage_buttons">
        <form action="{% url delete_event event.id %}" method="post" name="delete_action">
            <a href="javascript:deleteEvent();" class="red">{% trans "Delete this Event" %}</a>
        </form>
    </div>
{% endif %}
<div class="clear"></div>
{% include "event/details.html" %}
<div class="clear"></div>
<br />
<a class="button" href="/eventos/">{% trans 'More events' %}</a>

{% with event.url as url %}
    {% include "facebook_comments.html" %}
{% endwith %}

<div class="clear"></div>

{% endblock %}