{% extends "base.html" %}
{% load i18n draftutils notification %}

{% block stylesheet %}
    <link rel="stylesheet" href="/media/css/prettyPhoto.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/form.css" type="text/css" />
    <script type="text/javascript" src="/media/js/buzz.js"></script>
    <script type="text/javascript" src="/media/js/MIDI.js"></script>
    <script type="text/javascript" src="/media/js/base64binary.js"></script>
    <script type="text/javascript" src="/media/js/metronome.js"></script>
    <script type="text/javascript" src="/media/js/event.js"></script>
    <script type="text/javascript" src="/media/js/events.js"></script>
    <script type="text/javascript" src="/media/js/jquery/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/media/js/photos.js"></script>
    <script type="text/javascript" src="/media/js/videos.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="/media/js/maps.js"></script>
    <script type="text/javascript">
        var event_is_upcoming = {% if event.is_upcoming %}true{% else %}false{% endif %};
    </script>
{% endblock %}

{% block open_grap_tags %}
    <meta property="og:title" content="{% blocktrans with name=event.name %}Hey Baldock Event {{ name }}{% endblocktrans %}"/>
    <meta property="og:description" content="{{ event.description }}"/>
    <meta property="og:image" content="http://{{ site_domain }}/{{ event.first_flyer.image_big_url }}"/>
    <meta property="og:url" content="http://{{ site_domain }}{{ event.url }}"/>
{% endblock %}

{% block management_menu_items %}
    {% if user.is_authenticated %}
        <a href="javascript:;" id="notify_users">{% trans "Notify users about this show" %}</a>
        {% object_manage_buttons user 'event' event.id %}
        <form action="{% url delete_event event.id %}" method="post" name="delete_action">
            <a href="javascript:deleteEvent();" class="red">{% trans "Delete this Event" %}</a>
        </form>
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% notify event 'created' %}
    {% endif %}

    <div class="clear"></div>
    {% include "event/details.html" %}
    <div class="clear"></div>
    <br />
    <a class="button" href="/eventos/">{% trans 'More events' %}</a>

    {% with event.url as url %}
        {% include "facebook_comments.html" %}
    {% endwith %}

    <div class="clear"></div>

{% endblock %}