{% extends "base.html" %}
{% load i18n draftutils %}

{% block stylesheet %}
    <link rel="stylesheet" href="/media/css/prettyPhoto.css" type="text/css" />
    <script type="text/javascript" src="/media/js/event.js"></script>
    <script type="text/javascript" src="/media/js/jquery/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/media/js/photos.js"></script>
    <script type="text/javascript" src="/media/js/videos.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="/media/js/maps.js"></script>
{% endblock %}

{% block content %}

{% object_manage_buttons user 'event' event.id %}
{% include "event/details.html" %}
<div class="clear"></div>
<br />
<a class="button" href="/eventos/">{% trans 'More events' %}</a>
<div class="clear"></div>

{% endblock %}