{% load i18n %}

{% include "facebook_like.html" %}
<div class="clear"></div>
<br/>
{% if events %}
<div class="table_list">
    <table>
        <thead>
            <th width="120px">
                Flyer
            </th>
            <th width="200px">
                {% trans "Name" %}
            </th>
            <th>
                {% trans "Location" %}
            </th>
            <th width="140px">
                {% trans "Date" %}
            </th>
        </thead>
        <tbody>
            {% for event in events %}
            <tr class="{% cycle odd,even %}" onclick="window.location = '{% url event_details event.id %}'">
                <td style="text-align: center;"><img src="{{ event.first_flyer.image_small_url }}" /></td>
                <td>{{ event.name }}</td>
                <td>{{ event.location.name }}</td>
                <td>{{ event.starts_at|date:"l" }} {{ event.datetime }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <p>{% trans "There's no upcoming events by now." %} {% trans "You can look at the past events by clicking in the button below." %}</p>
{% endif %}