{% load i18n %}
{% if locations %}
<div class="portlet">
    <div class="manage_buttons">
        {% if permissions.manage_locations %}
            <a href="{% url add_draft_new 'location' %}">{% trans "Add" %}</a>
        {% endif %}
    </div>
    <h2><a href="{% url location_list %}">{% trans "Locations" %}</a></h2>
    <ul>
    {% for location in locations %}
        <li>
            <a href="{% url location_details location.id %}">
                {{ location.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}