{% extends "base.html" %}
{% load i18n draftutils %}

{% block open_grap_tags %}
    <meta property="og:title" content="{% trans 'Hey Baldock Locations List' %}"/>
    <meta property="og:description" content="{% trans 'List of locations that Hey Baldock used to make its presentations.' %}"/>
    <meta property="og:image" content="http://{{ site_domain }}/media/img/profile_fb.png"/>
    <meta property="og:url" content="http://{{ site_domain }}{% url location_list %}"/>
{% endblock %}

{% block content %}

<h1>{% trans "Locations list" %}</h1>

{% include "facebook_like.html" %}
<br />
<div class="table_list">
    <table>
        <thead>
            <th width="200px">
                {% trans "Name" %}
            </th>
            <th>
                {% trans "Address" %}
            </th>
            <th width="140px">
                {% trans "City" %}
            </th>
        </thead>
        <tbody>
            {% for location in locations %}
            <tr class="{% cycle odd,even %}" onclick="window.location = '{% url location_details location.id %}'">
                <td>{{ location.name }}</td>
                <td>{{ location.address }}</td>
                <td>{{ location.city }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% with '/eventos/locais/' as url %}
    {% include "facebook_comments.html" %}
{% endwith %}

{% endblock %}