{% load i18n %}
<div>
    <p>
        {{ location.address }}<br />
        {% trans 'ZIpcode: ' %}{{ location.zipcode_display }}<br />
        {{ location.city }} - {{ location.state }}<br />
        Telefones: {{ location.phones_display }}
    </p>
</div>
<div class="clear"></div>
<p>{{ location.description }}</p>
<div class="clear"></div>
<div id="map_canvas"></div>
<div class="clear"></div>
<script type="text/javascript">
    $(window).load(function () {
        initialize();
        {# HACK: using |title filter to avoid brazilizan format using commas... #}
        codeLatLng({{ location.latitude|title }}, {{ location.longitude|title }});

    });
</script>