{% load i18n %}
{% if events %}
<div class="portlet">
    {% if user.is_authenticated %}
    <div class="manage_buttons">
        {% if permissions.manage_events %}
            <a href="{% url add_draft_new 'event' %}">{% trans "Add" %}</a>
        {% endif %}
    </div>
    {% endif %}
    <h2>Agenda</h2>
    <ul>
    {% for event in events %}
        <li>
            <a href="{% url event_details event.id %}">
                {{ event }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}