
{% load i18n %}

<h2>
    {% blocktrans with user.nick as user %}
        Hi {{ user }},
    {% endblocktrans %}
</h2>

<p>
    {% if instance.rehearsal %}
        {% blocktrans with instance.rehearsal as rehearsal %}
            There's a new repertory created for the {{ rehearsal }}.
        {% endblocktrans %}
    {% else %}
        {% blocktrans with instance.event as show %}
            There's a new repertory created for the show in {{ show }}.
        {% endblocktrans %}
    {% endif %}
</p>

<p>
    {% trans "For further information click on the following link:" %} <a href="http://www.heybaldock.com.br{{ instance.url }}">www.heybaldock.com.br{{ instance.url }}</a>.
</p>

{% if notification.notes %}
    <p>
        {{ notification.notes }}
    </p>
{% endif %}
