{% extends "base.html" %}
{% load i18n draftutils %}

{% block stylesheet %}
    {% if section.media %}
        {% for script in section.media.scripts %}
            <script type="text/javascript" src="{{ script }}"></script>
        {% endfor %}
        {% for style in section.media.styles %}
            <link rel="stylesheet" href="{{ style }}" type="text/css" />
        {% endfor %}
    {% endif %}
{% endblock %}

{% block open_grap_tags %}
    <meta property="og:title" content="{% blocktrans with title=section.title %}Hey Baldock {{ title }}{% endblocktrans %}"/>
    <meta property="og:description" content="{{ section.description }}"/>
    <meta property="og:image" content="http://{{ site_domain }}/media/img/profile_fb.png"/>
    <meta property="og:url" content="http://{{ site_domain }}{{ section.url }}"/>
{% endblock %}

{% block content %}
{% object_manage_buttons user 'section' section.id %}
<div class="clear"></div>
{% include "section/section_content.html" %}
<div class="clear"></div>
<div class="last_updated">
    {% blocktrans with updated=section.updated user_updated=section.user_updated %}
        Last updated at {{ updated }} by {{ user_updated }}
    {% endblocktrans %}
</div>

{% with section.url as url %}
    {% include "facebook_comments.html" %}
{% endwith %}

 <div class="clear"></div>
{% endblock %}