{% extends "section/base_section.html" %}
{% load i18n draftutils %}

{% block content %}
    <div class="section_content">
        {% include "section/section_content.html" %}
    </div>
    <div class="clear"></div>
    <div class="last_updated">
        {% blocktrans with updated=section.updated user_updated=section.user_updated %}
            Last updated at {{ updated }} by {{ user_updated }}
        {% endblocktrans %}
    </div>

    {% comment %}
    {% with section.url as url %}
        {% include "facebook_comments.html" %}
    {% endwith %}
    {% endcomment %}

    <div class="clear"></div>
{% endblock %}
