{% load i18n %}
{% if artist.albums.count %}
    {% if has_perm %}
        <p style="text-transform: uppercase; text-decoration: underline; font-size: 11px;">
            <a href="{% url add_album %}?a={{ artist }}">{% blocktrans %}Click here to add more albums of {{ artist }}{% endblocktrans %}</a>
        </p>
    {% endif %}
    <ul id="albums" class="photo_album_list centralize">
        {% for album in artist.albums_by_year %}
            <li class="photo_album_item" url="{% url album album.id %}">
                <div class="photo_album_cover">
                    <img src="{{ album.thumb_url }}" />
                </div>
                <div class="photo_album_info">
                    <p><strong>{{ album }}</strong></p>
                    <p><strong>{% trans "Year" %}: </strong>{{ album.year }}</p>
                    <p><strong>{% trans "Genre" %}: </strong>{{ album.genre_display }}</p>
                    <p><strong>{% trans "Style" %}: </strong>{{ album.style_display }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>{% trans "No albums included yet" %}</p>
    {% if has_perm %}
        <p style="text-transform: uppercase; text-decoration: underline; font-size: 11px;">
            <a href="{% url add_album %}?a={{ artist }}">{% blocktrans %}Click here to add albums of {{ artist }}{% endblocktrans %}</a>
        </p>
    {% endif %}
{% endif %}