{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/media/css/forms.css" />
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/media/js/music/album_info.js"></script>
{% endblock %}

{% block content %}
    <div class="article">
        <h2><span>Get album information</span></h2>

        <div>
            <h3>Results</h3>
            <div id="album_info_results">

            </div>
        </div>

        <div id="actions">
            <div>
                <select class="add-album-repertoire">
                    <option>Add entire album to repertoire</option>
                    {% for band in bands %}
                    <option style="color: red; font-weight: bold;"> * {{ band.name }}</option>
                    {% for rep in band.repertoires.all %}
                    <option value="{{ rep.id }}">{{ rep.name }}</option>
                    {% endfor %}
                    {% endfor %}
                    <option value="NEW_REPERTOIRE"> ** New repertoire ** </option>
                </select>
                <div class="new-repertoire" style="display: none;">
                    <select name="band">
                        <option>Select the Band</option>
                        {% for band in bands %}
                        <option value="{{ band.id }}"> * {{ band.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="name" value="Repertoire name" />
                    <input type="button" value="Add" />
                </div>
            </div>
        </div>

    </div>

    <hr class="noscreen" />
{% endblock %}

{% block rightcolumn %}
    <div id="col-in">
        <div id="col-top-left"></div>
        <h3><span>Search</span></h3>
        <div class="form" style="padding-bottom: 50px;">
            <form name="album_info">
                <ul>
                    {{ form.as_ul }}
                </ul>
                <input type="button" value="Get info" name="get_info" />
            </form>
        </div>
        <hr class="noscreen" />

        <h3><span>Blabla</span></h3>
        <div class="form" style="padding-bottom: 400px;">

        </div>
        <hr class="noscreen" />
    </div>

{% endblock %}


