{% extends "music/base.html" %}
{% load i18n %}

{% block stylesheet %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="/media/js/jquery/jquery.fileupload.js"></script>
    <script type="text/javascript" src="/media/js/buzz.js"></script>
    <script type="text/javascript" src="/media/js/metronome.js"></script>
    <script type="text/javascript" src="/media/js/base64binary.js"></script>
    <script type="text/javascript" src="/media/js/MIDI.js"></script>
    <script type="text/javascript" src="/media/js/audioplayer.js"></script>
    <script type="text/javascript" src="/media/js/musicalbum.js"></script>
{% endblock %}

{% block actions %}
    <a href="{% url artists %}">{% trans 'View all artists' %}</a>
    <a href="{% url add_album %}">{% trans 'Add album' %}</a>
    <a href="#" class="red" id="remove_album">{% trans 'Remove this album' %}</a>
{% endblock %}

{% block music_content %}
    {% include "music/audio_player.html" %}
    <form id="remove_album_form" action="{% url remove_album album.id %}"></form>
    <h1><a href="{% url artist_details album.artist.id %}">{{ album.artist }}</a> - {{ album }}</h1>
    {% if album.description %}
        <h3>{{ album.description }}</h3>
    {% endif %}
    <br />
    <div style="float: left; width: 90px; margin-right: 10px;">
        <img src="{{ album.thumb_url }}" />
        <p>
            <strong>Artist</strong><br /><a href="{% url artist_details album.artist.id %}">{{ album.artist }}</a>
        </p>
        <p>
            <strong>Year</strong><br />{{ album.year }}
        </p>
        <p>
            <strong>Genre</strong><br />{{ album.genre_display }}
        </p>
        <p>
            <strong>Style</strong><br />{{ album.style_display }}
        </p>
    </div>
    <div class="table_list">
        <table style="width: 820px;">
            <thead>
                <th width="30px">
                    {% trans "Position" %}
                </th>
                <th>
                    {% trans "Title" %}
                </th>
                <th width="30px">
                    {% trans "Duration" %}
                </th>
                <th width="250px">
                    {% trans "Composers" %}
                </th>
                <th width="60px" class="center">
                    {% trans "Tempo" %}
                </th>
                <th width="60px" class="center">
                    {% trans "Tonality" %}
                </th>
                <th width="30px" class="center">
                    {% trans "Actions" %}
                </th>
            </thead>
            <tbody>
                {% for song in album.ordered_songs %}
                    {% include "music/song_line.html" %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="clear"></div>
    {% if album.about %}
        <h2>About</h2>
        <p>{{ album.about }}</p>
    {% endif %}

{% endblock %}