{% extends "base.html" %}
{% load i18n %}

{% block stylesheet %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/media/css/prettyPhoto.css" type="text/css" />
    <script type="text/javascript" src="/media/js/jquery/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/media/js/musicartists.js"></script>
{% endblock %}

{% block large_content %}
<div class="grid_3">
    <div id="content">
        <div class="clear"></div>
        <div class="section_content">
            <div class="manage_buttons">
                <a href="{% url music_management %}">{% trans 'Back to music management' %}</a>
                <a href="{% url add_album %}">{% trans 'Add album' %}</a>
            </div>
            <h1>Artists</h1>
            <div id="artists">
                <ul class="photo_album_list">
                    {% for artist in artists %}
                        <li class="photo_album_item" url="{% url artist_details artist.id %}">
                            <div class="photo_album_cover">
                                <img src="{{ artist.thumb_url }}" />
                            </div>
                            <div class="photo_album_info">
                                <p><strong>{{ artist }}</strong></p>
                                <p>Albums: {{ artist.albums_count }}</p>
                                <p>Active members: {{ artist.active_members_count }}</p>
                                <p>Inactive members: {{ artist.inactive_members_count }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}