{% extends "music/base.html" %}
{% load i18n %}

{% block stylesheet %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/media/css/prettyPhoto.css" type="text/css" />
    <script type="text/javascript" src="/media/js/jquery/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/media/js/photos.js"></script>
    <script type="text/javascript" src="/media/js/musicartists.js"></script>
{% endblock %}

{% block actions %}
    <a href="{% url artist_albums artist.id %}">{% trans 'View all albums' %}</a>
    <a href="{% url artists %}">{% trans 'View all artists' %}</a>
    {% if has_perm %}
        <a href="{% url add_album %}">{% trans 'Add album' %}</a>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <h3>&gt;<a href="{% url artists %}">{% trans "Artists" %}</a></h3>
    <h3>&gt;<a href="{% url artist_details artist.id %}">{{ artist }}</a></h3>
{% endblock %}

{% block music_content %}

    <div id="artist_{{ artist.id }}">
        <h1>{{ artist }}</h1>
        <p>
            {{ artist.about }}
        </p>
        <div class="clear"></div>
        <div style="float: left; width: 110px;">
            <img src="{{ artist.thumb_url }}" alt="{{ artist }}" title="{{ artist }}" />
            <br/><br/>
            <strong>{% trans "Members" %}:</strong>
            <ul>
                {% for member in artist.membership.all %}
                    <li><a href="#">{{ member }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <h3>{% trans "Discogs metadata" %}</h3>
        <div class="metadata">
            {% autoescape off %}{{ artist.metadata_display }}{% endautoescape %}
        </div>
        <div class="clear"></div>
        <br />
        <h2><a href="{% url artist_albums artist.id %}">{% trans "Albums" %}</a></h2>
        {% include "music/albums_list.html" %}
        <div class="clear"></div>
        <br />
        <h2>{% trans "Photos" %}</h2>
        {% if artist.images.count %}
            <ul class="photo_list artist_images centralize" style="width: 820px;">
                {% include "music/artist_images.html" %}
            </ul>
        {% else %}
            <p>{% trans "No images included" %}</p>
        {% endif %}
        <div class="clear"></div>
        <br />
    </div>

{% endblock %}