{% load i18n %}
<div id="audio_player">
    <h3>{% trans "Audio player" %}</h3>
    <div class="controls">
        <div class="play play_pause"></div>
        <div class="stop"></div>
        <div class="mute"></div>
        <div class="audio_slider"></div>
        <div class="time"></div>
        <div class="advanced" title="{% trans "Advanced options"  %}"></div>
    </div>
    <div class="clear"></div>
    <div class="advanced_controls">
        <div class="speed">1.0</div>
        <div>
            <div class="speed_label">{% trans "Speed" %}</div>
            <div class="speed_slider"></div>
        </div>

    </div>
</div>