{% load i18n %}

<div id="times_played_menu" class="simple_menu" style="display: none; width: 80px; text-align: center;">
    <select name="times_played">
        <option value="0">{% trans "zero" %}</option>
        <option value="1">{% trans "1 time" %}</option>
        <option value="2">{% trans "2 times" %}</option>
        <option value="3">{% trans "3 times" %}</option>
        <option value="4">{% trans "4 times" %}</option>
        <option value="5">{% trans "5 times" %}</option>
        <option value="6">{% trans "6 times" %}</option>
        <option value="7">{% trans "7 times" %}</option>
        <option value="8">{% trans "8 times" %}</option>
        <option value="9">{% trans "9 times" %}</option>
    </select>
</div>

<table class="repertory">
    <thead>
        <tr class="table_head_actions">
            {% if editable %}
                <th  class="center sort_column"></th>
            {% endif %}
            <th class="cover_column">&nbsp;</th>
            <th class="name_column"><div>&nbsp;</div></th>
            <th class="duration_column">&nbsp;</th>
            {% if repertory.rehearsal %}
                <th class="status_column">&nbsp;</th>
            {% endif %}
            <th class="times_played_column">&nbsp;</th>
            <th class="tempo_column">&nbsp;</th>
            <th class="ratings_column" id="ratings_actions">
                <div class="action selected" action="global">
                    {% trans "Global" %}
                </div>
                <div class="action" action="by_user">
                    {% trans "By user" %}
                </div>
                <div class="action" action="user_owner">
                    {% trans "My votes only" %}
                </div>
            </th>
            <th class="mode_column">&nbsp;</th>
            <th class="tonality_column">&nbsp;</th>
            <th class="players_column">&nbsp;</th>
            {% if editable %}
            <th  class="actions_column">&nbsp;</th>
            {% endif %}
        </tr>
        <tr>
            {% if editable %}
            <th  class="center sort_column">
            </th>
            {% endif %}
            <th  class="center cover_column">
                {% trans "Cov" %}
            </th>
            <th class="name_column">
                {% trans "Name" %}
            </th>
            <th  class="center duration_column">
                {% trans "Dur" %}
            </th>
            {% if repertory.rehearsal %}
                <th  class="center status_column">
                    {% trans "Status" %}
                </th>
            {% endif %}
            <th  class="center times_played_column">
                {% trans "X" %}
            </th>
            <th  class="center tempo_column">
                {% trans "Tempo" %}
            </th>
            <th  class="center ratings_column">
                {% trans "Ratings" %}
            </th>
            <th  class="center mode_column">
                {% trans "Mode" %}
            </th>
            <th  class="center tonality_column">
                {% trans "Tonality" %}
            </th>
            <th  class="center players_column">
                {% trans "Players" %}
            </th>
            {% if editable %}
            <th  class="center actions_column">
                <img src="/media/img/cross_16_d.png" class="remove_song" />
            </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in repertory.items %}
            {% include "music/event_repertory_item_content.html" %}
        {% endfor %}
    </tbody>
</table>
{% if editable %}
<div class="add_song_form" style="float: left">
    <div class="pretty_form manage_buttons" style="float: none; margin-top: 10px;">
        <img src="/media/img/plus_16.png" alt="Add a song to repertory" title="Add a song to repertory" />&nbsp;
        <input name="song_name" type="text" style="width: 200px;" addurl="{% url add_item_to_event_repertory repertory.id %}" searchurl="{% url search_item_by_name repertory.id %}" />
        <span class="message" style="display: none; color: red; font-size: 14px; margin-left: 10px"></span>
    </div>
    <div class="songs_content">

    </div>
</div>
<div class="add_interval" style="float: left; height: 30px; width: 320px;">
    <div class="pretty_form" style="float: none; margin-top: 10px; margin-left: 20px;">
        <label for="id_interval" style="width: auto;">{% trans "or add interval of:" %}</label>
        <select name="interval" id="id_interval" addintervalurl="{% url add_event_repertory_item_interval repertory.id %}">
            <option value="" selected="selected">{% trans "Chosse one" %}</option>
            <option value="5">{% trans "5 minutes" %}</option>
            <option value="10">{% trans "10 minutes" %}</option>
            <option value="15">{% trans "15 minutes" %}</option>
            <option value="20">{% trans "20 minutes" %}</option>
            <option value="30">{% trans "30 minutes" %}</option>
            <option value="40">{% trans "40 minutes" %}</option>
            <option value="50">{% trans "50 minutes" %}</option>
            <option value="60">{% trans "1 hour" %}</option>
            <option value="90">{% trans "1 hour and 30 minutes" %}</option>
            <option value="120">{% trans "2 hours" %}</option>
            <option value="180">{% trans "3 hours" %}</option>
        </select>
    </div>
    <div class="clear"></div>
</div>
<div id="add_songs_by_category" class="pretty_form" style="width: 300px; float: left;">
    <label style="width: auto; margin-top: 15px; text-decoration: underline;">
        <a href="javascript:;" class="red add_songs_button">
            {% trans "or add songs by category" %}
        </a>
    </label>
</div>
<div class="clear"></div>
<div style="position: relative;">
    <div class="simple_menu pretty_select" id="songs_by_category_menu">
        <h3>{% trans "Add songs by category" %}</h3>
        <div class="pretty_form" style="float: none; margin-top: 10px;">
            <form action="" name="add_songs_by_category_form" addsongsbycategoryurl="{% url add_event_repertory_items_by_category repertory.id %}">
                <ul>
                    {% if repertory.rehearsal %}
                        <li>
                            <label>{% trans "Below" %}:</label>
                            <select name="below_stars" style="display: inline;">
                                <option></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            {% trans "stars voted by" %}
                            <input type="radio" name="below_stars_voted_by" value="all" checked="checked" /> {% trans "all" %}
                            <input type="radio" name="below_stars_voted_by" value="me" /> {% trans "me" %}
                        </li>
                    {% endif %}
                    <li>
                        <label>{% trans "Above" %}:</label>
                        <select name="above_stars" style="display: inline;">
                            <option></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        {% trans "stars voted by" %}
                        <input type="radio" name="above_stars_voted_by" value="all" checked="checked" /> {% trans "all" %}
                        <input type="radio" name="above_stars_voted_by" value="me" /> {% trans "me" %}
                    </li>
                    {% if repertory.rehearsal %}
                        <li>
                            <label>{% trans "Played in rehearsals" %}:</label>
                            <select name="played_in_rehearsals_below">
                                <option></option>
                                <option value="10">{% trans "below 10%" %}</option>
                                <option value="20">{% trans "below 20%" %}</option>
                                <option value="30">{% trans "below 30%" %}</option>
                                <option value="40">{% trans "below 40%" %}</option>
                                <option value="50">{% trans "below 50%" %}</option>
                                <option value="60">{% trans "below 60%" %}</option>
                                <option value="70">{% trans "below 70%" %}</option>
                                <option value="80">{% trans "below 80%" %}</option>
                                <option value="90">{% trans "below 90%" %}</option>
                            </select>
                            <div class="clear"></div>
                        </li>
                    {% else %}
                        <li>
                            <label>{% trans "Played in rehearsals" %}:</label>
                            <select name="played_in_rehearsals_above">
                                <option></option>
                                <option value="10">{% trans "above 10%" %}</option>
                                <option value="20">{% trans "above 20%" %}</option>
                                <option value="30">{% trans "above 30%" %}</option>
                                <option value="40">{% trans "above 40%" %}</option>
                                <option value="50">{% trans "above 50%" %}</option>
                                <option value="60">{% trans "above 60%" %}</option>
                                <option value="70">{% trans "above 70%" %}</option>
                                <option value="80">{% trans "above 80%" %}</option>
                                <option value="90">{% trans "above 90%" %}</option>
                            </select>
                            <div class="clear"></div>
                        </li>
                    {% endif %}
                    <li>
                        <label>{% trans "By status" %}</label>
                        <select name="by_status">
                            <option></option>
                            {% for id, status in statuses %}
                                <option value="{{ id }}">{{ status }}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul>
                <div class="center" style="margin-bottom: 5px;">
                    <input type="button" name="cancel" value="{% trans "Cancel" %}" class="red" />&nbsp;&nbsp;&nbsp;
                    <input type="button" name="submit" value="{% trans "Submit" %}" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
<br/>

