{% load i18n %}

<!-- Hidden action menus: Change Status, Change Mode, Change Tonality -->

    <div id="status_menu" class="status_menu simple_menu" style="width: 120px;">
        <div class="pretty_select">
            <h3>{% trans "Change status" %}</h3>
            {% for key, title in status_choices %}
                <div class="option" statusid="{{ key }}">
                    <span class="option song_status status{{ key }}" style="width: 70px">{{ title }}</span>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="date_menu" class="simple_menu" style="display: none;">
        <input type="text" value="" name="date" style="visibility: hidden;" />
    </div>

    <div id="mode_menu" class="mode_menu simple_menu" style="width: 120px;" >
        <div class="pretty_select">
            <h3>{% trans "Change mode" %}</h3>
            {% for key, title in mode_choices %}
                <div class="option" modeid="{{ key }}">
                    <span class="option song_mode mode{{ key }}" style="width: 70px">{{ title }}</span>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="tonality_menu" class="tonality_menu simple_menu">
        <div class="pretty_select">
            <h3>{% trans "Change tonality" %}</h3>
            <div>
                <span class="option tonality_original" tonalityid="ORIGINAL" style="width: 190px;">{% trans "Original" %}</span>
            </div>
            <div class="clear"></div>
            {% for key, title, ttype in tonality_choices %}
                <span class="option tonality_{{ ttype }}" tonalityid="{{ key }}">{{ key }}</span>
            {% endfor %}
            <span class="option tonality_atonal" tonalityid="Atonal">Atonal</span>
        </div>
    </div>

<!-- End of hidden action menus -->

<table class="repertory">
    <thead class="repertory_head" sorturl="{% url sort_main_repertory %}">
        <th  class="center cover_column {% if sort.song__album__name %}sort_down{% else %}sort_up{% endif %}" sort="{% if sort.song__album__name %}-song__album__name{% else %}song__album__name{% endif %}">
            {% trans "Cov" %}
        </th>
        <th class="name_column {% if sort.song__name %}sort_down{% else %}sort_up{% endif %}" sort="{% if sort.song__name %}-song__name{% else %}song__name{% endif %}">
            {% trans "Name" %}
        </th>
        <th class="center duration_column {% if sort.song__duration %}sort_down{% else %}sort_up{% endif %}" sort="{% if sort.song__duration %}-song__duration{% else %}song__duration{% endif %}">
            {% trans "Dur" %}
        </th>
        <th class="center status_column {% if sort.status %}sort_down{% else %}sort_up{% endif %}" sort="{% if sort.status %}-status{% else %}status{% endif %}">
            {% trans "Status" %}
        </th>
        <th class="center date_column {% if sort.date %}sort_down{% else %}sort_up{% endif %}" sort="{% if sort.date %}-date{% else %}date{% endif %}">
            {% trans "Date" %}
        </th>
        <th  class="center tempo_column {% if sort.song__tempo %}sort_down{% else %}sort_up{% endif %}" sort="{% if sort.song__tempo %}-song__tempo{% else %}song__tempo{% endif %}">
            {% trans "Tempo" %}
        </th>
        <th  class="center ratings_column">
            {% trans "Ratings" %}
        </th>
        <th  class="center mode_column {% if sort.mode %}sort_down{% else %}sort_up{% endif %}" sort="{% if sort.mode %}-mode{% else %}mode{% endif %}">
            {% trans "Mode" %}
        </th>
        <th  class="center tonality_column {% if sort.song__tonality %}sort_down{% else %}sort_up{% endif %}" sort="{% if sort.song__tonality %}-song__tonality{% else %}song__tonality{% endif %}">
            {% trans "Tonality" %}
        </th>
        <th  class="center players_column">
            {% trans "Players" %}
        </th>
        {% if editable %}
        <th  class="center actions_column" style="padding: 2px 0px 0px 0px;">
            <img src="/media/img/cross_16_d.png" class="remove_song" />
        </th>
        {% endif %}
    </thead>
    <tbody>
        {% for item in items %}
            {% include "music/main_repertory_item_content.html" %}
        {% endfor %}
    </tbody>
</table>
{% if editable %}
    <div class="add_song_form">
        <div class="pretty_form manage_buttons" style="float: none; margin-top: 10px;">
            <img src="/media/img/plus_16.png" alt="Add a song to repertory" title="Add a song to repertory" />&nbsp;
            <input name="song_name" type="text" style="width: 200px;" addurl="{% url add_song_to_main_repertory %}" searchurl="{% url search_song_by_name %}" />
            <span class="message" style="display: none; color: red; font-size: 14px; margin-left: 10px"></span>
        </div>
        <div class="songs_content">

        </div>
    </div>
{% endif %}
<br/>

