{% extends "music/base.html" %}
{% load i18n %}

{% block stylesheet %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/media/css/form.css" type="text/css" media="screen" title="default" />
    <script type="text/javascript" src="/media/js/musicdashboard.js"></script>
{% endblock %}

{% block music_content %}
    <div id="dashboard">
        <div class="dashboard_item" url="{% url artists %}">
            <div class="dashboard_image">
                <img src="/media/img/band_260x200.jpg" alt="">
            </div>
            <div class="dashboard_title">
                {% trans "Artists" %}
            </div>
        </div>
        <div class="dashboard_item" url="{% url instruments %}">
            <div class="dashboard_image">
                <img src="/media/img/instruments_260x200.png" alt="">
            </div>
            <div class="dashboard_title">
                {% trans "Instruments" %}
            </div>
        </div>
        <div class="dashboard_item" url="{% url repertories %}">
            <div class="dashboard_image">
                <img src="/media/img/music_260x200.jpg" alt="">
            </div>
            <div class="dashboard_title">
                {% trans "Repertories" %}
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div>
        <div style="width: 450px; float: left;">
            <h2>{% trans "Upcoming Rehearsals" %}</h2>
            {% if all_rehearsals.upcoming %}
                {% with all_rehearsals.upcoming as rehearsals %}
                    {% include "music/rehearsals_table.html" %}
                {% endwith %}
            {% else %}
                {% trans "There's no upcoming rehearsals." %}
            {% endif %}
        </div>
        <div style="width: 450px; float: right;">
            <h2>{% trans "Past 5 Rehearsals" %}</h2>
            {% if all_rehearsals.past %}
                {% with all_rehearsals.past as rehearsals %}
                    {% include "music/rehearsals_table.html" %}
                {% endwith %}
            {% else %}
                {% trans "There's no past rehearsals." %}
            {% endif %}
        </div>
        <div class="clear"></div>
        <p>
            <a href="{% url rehearsals %}">
                {% trans "Click here to see all rehearsals" %}
            </a>
        </p>
    </div>
{% endblock %}