{% load i18n common %}
<div class="pretty_select"
     toogletagtypeurl="{% url toogle_tag_type player_repertory_item.id %}"
     changeasmemberoptionsurl="{% url change_as_member_options player_repertory_item.id %}"
     changeplayeruseroptionsurl="{% url change_player_user_options player_repertory_item.id %}">
    <h3>
        <div class="action_button"><img class="change_player_user" src="/media/img/exchange_icon_16.gif" alt="{% trans "Exchange player user" %}" title="{% trans "Exchange player user" %}"></div>
        <div class="icon">
            <img src="{{ player_repertory_item.player.instrument.icon_url }}" />
        </div>
        <div class="title">
            {{ player_repertory_item.player.user.first_name }}
        </div>
    </h3>
    <div class="change_player_user_options" style="display: none;">
    </div>
    <div class="clear"></div>
    {% if player_repertory_item.as_member %}
        <h4 style="padding: 5px 3px 3px 8px; margin: 0px; text-align: center;">
            {% if player_repertory_item.player.instrument.is_vocal %}
                {% trans "Sing as" %}
            {% else %}
                {% trans "Play as" %}
            {% endif %}
        </h4>
        <h4 class="as_member secondary_option">
            <div class="action_button"><img class="change_as_member" src="/media/img/exchange_icon_16.gif" alt="{% trans "Exchange member" %}" title="{% trans "Exchange member" %}"></div>
            <div class="icon">
                <img src="{{ player_repertory_item.as_member.icon_url }}" />
            </div>
            <div class="title">
                {{ player_repertory_item.as_member.name }}
            </div>
        </h4>
        <div class="change_as_member_options" style="display: none;">
        </div>
    {% endif %}

    <div class="tag_types">
        {% for tag_type in tag_types %}
            {{ tag_type.html_display }}
        {% endfor %}
    </div>
    <div class="clear"></div>

    <div class="option" action="set_as_lead">
        <div class="icon">
            <img src="/media/img/leader_icon_2.png" />
        </div>
        <div class="title">
            {% if player_repertory_item.is_lead %}
                {% trans "Unset as lead" %}
            {% else %}
                {% trans "Set as lead" %}
            {% endif %}
        </div>
    </div>
    <div class="option" action="remove">
        <div class="icon" style="padding-top: 5px; padding-left: 4px">
            <img src="/media/img/cross_16.png" />
        </div>
        <div class="title">
            {% trans "Remove this player" %}
        </div>
    </div>
    <h3>{% trans "Ratings" %}</h3>
    {% call player_repertory_item.has_voted with user as voted %}
    <div class="center ratings_player" ratingurl="{% url rate_player_repertory_item player_repertory_item.id %}" voted="{% if voted %}1{% else %}0{% endif %}"
        title="{% if voted %}{% trans "You've already voted. To change your vote just hold SHIFT button." %}{% else %}{% trans "Vote" %}{% endif %}">
        {% for r in player_repertory_item.ratings_range %}
            {% if r.active %}
                <img src="/media/img/star_16.png" class="active" rate="{{ r.rate }}" />
            {% else %}
                <img src="/media/img/star_gray_16.png" class="inactive" rate="{{ r.rate }}" />
            {% endif %}
        {% endfor %}
    </div>
    <br />
    <h3>{% trans "Materials" %}</h3>
    <div class="option" action="notes">
        <div class="icon" style="padding-top: 5px; padding-left: 4px">
            <img src="/media/img/notes_icon_16.png" />
        </div>
        <div class="title">
            {% trans "Notes" %}
        </div>
        <div class="notes_area" style="display: none;" saveurl="{% url change_notes player_repertory_item.id %}">
            <h3>
                Notes about {{ player_repertory_item.player.instrument }}
                in {{ player_repertory_item.repertory_item }}
                song {{ player_repertory_item.player.instrument.verb_past_participle }}
                by {{ player_repertory_item.player.user.first_name }}
            </h3>
            <textarea class="original_notes" style="display: none;">{{ player_repertory_item.notes }}</textarea>
            <textarea class="notes">{{ player_repertory_item.notes }}</textarea>
            <div class="clear"></div>
            <div class="notes_save">
                <input type="button" class="small_button red cancel" value="{% trans "Cancel" %}" />
                <input type="button" class="small_button save" value="{% trans "Save" %}" />
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="option" action="documents">
        <div class="icon" style="float: right; padding-top: 6px;">
            <img src="/media/img/plus_16.png" class="add_document" alt="{% trans "Add document" %}" title="{% trans "Add document" %}" style="display: none;" />
        </div>
        <div class="icon" style="padding-top: 5px; padding-left: 4px">
            <img src="/media/img/document_icon_16.png" />
        </div>
        <div class="title">
            {% trans "Documents" %}
        </div>
        <div class="documents_area" style="display: none;">
            <div class="new_document_form" style="display: none;">
                <input type="file" name="file" data-url="{% url add_document_for_player_repertory_item player_repertory_item.id %}" multiple />
            </div>
            <div class="clear"></div>
            {% for document in player_repertory_item.documents.all %}
                <h4 class="secondary_option" removeurl="{% url remove_document_for_player_repertory_item player_repertory_item.id document.id %}">
                    <div class="icon remove_document" style="float: right; padding: 5px 0px 0px 0px; display: none;">
                        <img src="/media/img/cross_16.png" alt="{% trans "Remove this document" %}" title="{% trans "Remove this document" %}" />
                    </div>
                    <div class="icon" {% if not document.is_image %}style="padding: 5px 0px 0px 5px;"{% endif %}>
                        <img src="{{ document.icon_url }}" alt="{{ document.name }}" />
                    </div>
                    <div class="title highlight">
                        <a href="{{ document.url }}" target="_blank">{{ document }}</a>
                    </div>
                </h4>
            {% endfor %}
        </div>
    </div>
    <div class="option" action="videos">
        <div class="icon" style="padding-top: 5px; padding-left: 4px">
            <img src="/media/img/video_icon_16.png" />
        </div>
        <div class="title">
            {% trans "Videos" %}
        </div>
    </div>
    <div class="option" action="audio_segments">
        <div class="icon" style="padding-top: 5px; padding-left: 4px">
            <img src="/media/img/audio_track_icon_16.png" />
        </div>
        <div class="title">
            {% trans "Audios Segments" %}
        </div>
    </div>
    <div class="option" action="music_scores">
        <div class="icon" style="padding-top: 5px; padding-left: 4px">
            <img src="/media/img/music_icon_16.png" />
        </div>
        <div class="title">
            {% trans "Music score" %}
        </div>
    </div>
</div>
