{% load i18n %}

{% if not repertory.is_main %}
    <h2><span style="float: left;" class="handle ui-icon ui-icon-arrowthick-2-n-s"></span>{{ group.name }}</h2>
{% endif %}
<table group_id="{{ group.id }}" order="{{  group.order }}" class="repertory">
    <thead>
        <th  class="center" width="8px">
        </th>
        <th  class="center" width="8px">
            #
        </th>
        <th  class="center" width="40px">
            {% trans "Cover" %}
        </th>
        <th>
            {% trans "Name" %}
        </th>
        <th  class="center" width="50px">
            {% trans "Duration" %}
        </th>
        <th  class="center" width="60px">
            {% trans "Tempo" %}
        </th>
        <th  class="center" width="200px">
            {% trans "Players" %}
        </th>
        <th  class="center" width="70px">
            {% trans "Actions" %}
            {% if not group.is_main %}
                <a class="remove_group" style="color: red; font-weight: bold; float: right; background: white;">&nbsp;-&nbsp;</a>
            {% endif %}
        </th>
    </thead>
    <tbody>
        {% for item in group.ordered_items %}
            {% include "music/song_line_repertory_content.html" %}
        {% endfor %}
    </tbody>
</table>
<div class="add_song_form">
    <div class="pretty_form manage_buttons" style="float: none; margin-top: 10px;">
        <img src="/media/img/plus_16.png" alt="Add a song to this group" title="Add a song to this group">&nbsp;
        <input name="song_name" type="text" style="width: 200px;" />
        <span class="message" style="display: none; color: red; font-size: 14px; margin-left: 10px"></span>
    </div>
    <div class="songs_content">

    </div>
</div>
<br/>
<hr>
