{% extends "music/base.html" %}
{% load i18n %}

{% block stylesheet %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/media/css/form.css" type="text/css" media="screen" title="default" />
    <link rel="stylesheet" href="/media/css/cleditor/jquery.cleditor.css" type="text/css" media="screen" title="default" />
    <link rel="stylesheet" href="/media/css/cleditor/jquery.cleditor.cmsplugin.css" type="text/css" media="screen" title="default" />
    <script type="text/javascript" src="/media/js/utils.js"></script>
    <script type="text/javascript" src="/media/js/jquery/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/media/js/jquery/jquery.fileupload.js"></script>
    <script type="text/javascript" src="/media/js/jquery/cleditor/jquery.cleditor.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery/cleditor/jquery.cleditor.cmsplugin.js"></script>
    <script type="text/javascript" src="/media/js/hbeditor.js"></script>
    <script type="text/javascript" src="/media/js/buzz.js"></script>
    <script type="text/javascript" src="/media/js/metronome.js"></script>
    <script type="text/javascript" src="/media/js/MIDI.js"></script>
    <script type="text/javascript" src="/media/js/music.js"></script>

{% endblock %}

{% block actions %}
    {% if not repertory.is_main %}
        <a href="{% url repertory_details 1 %}">{% trans 'Show main repertory' %}</a>
    {% endif %}
    <a href="{% url repertories %}">{% trans 'Show repertories List' %}</a>
    <a href="{% url add_repertory %}">{% trans "Add Repertory" %}</a>
{% endblock %}

{% block music_content %}
    <h1>{% trans "Repertory:" %} {{ repertory }}</h1>
    <h3 id="time_total">
        {% trans "Time total:" %}
        <span></span>
        considering
        <select name="time_between_songs">
            <option value="0">no pause</option>
            <option value="10">10 seconds</option>
            <option value="20">20 seconds</option>
            <option value="30" selected="selected">30 seconds</option>
            <option value="40">40 seconds</option>
            <option value="50">50 seconds</option>
            <option value="60">1 minute</option>
            <option value="120">2 minutes</option>
            <option value="180">3 minutes</option>
            <option value="240">4 minutes</option>
            <option value="300">5 minutes</option>
        </select>
        between songs
    </h3>
    <div class="clear"></div>
    <br/>
    {% if not repertory.is_main %}
        <a href="javascript:;" id="add_repertory_group">
            <img src="/media/img/plus_16.png" alt="Add group of songs" title="Add group of songs">
            {% trans 'Add group of songs' %}
        </a>
    {% endif %}
    <div class="clear"></div>
    <div id="new_repertory_group" style="display: none;">
        <div class="pretty_form manage_buttons" style="float: none; margin-top: 10px;">
            <input name="new_repertory_group_name" placeholder="{% trans "Group name"  %}" type="text" style="width: 140px;" /> <a style="display: inline; float: none; width: 20px;" href="javascript:;">Add</a>
        </div>
    </div>
    <div class="clear"></div>
    <div id="repertory_content" repertory_id="{{ repertory.id }}" class="table_list" main="{% if repertory.is_main %}1{% else %}0{% endif %}">
        {% include "music/repertory_content.html" %}
    </div>
{% endblock %}