{% extends "music/base.html" %}
{% load i18n %}

{% block stylesheet %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/media/css/form.css" type="text/css" media="screen" title="default" />
    <link rel="stylesheet" href="/media/css/cleditor/jquery.cleditor.css" type="text/css" media="screen" title="default" />
    <link rel="stylesheet" href="/media/css/cleditor/jquery.cleditor.cmsplugin.css" type="text/css" media="screen" title="default" />
    <script type="text/javascript" src="/media/js/utils.js"></script>
    <script type="text/javascript" src="/media/js/jquery/jquery.ui.timepicker.addon.js"></script>
    <script type="text/javascript">
        var RepertoryConfig = {
            ratings: {
                view: 'global'
            }
        };
    </script>
    <script type="text/javascript" src="/media/js/musiccommonrepertory.js"></script>
    <script type="text/javascript" src="/media/js/musicrepertoriesstatistics.js"></script>
{% endblock %}

{% block actions %}
    <a href="{% url repertories %}">{% trans 'Show repertories List' %}</a>
{% endblock %}

{% block breadcrumbs %}
    <h3>&gt;<a href="{% url repertories %}">{% trans "Repertories" %}</a></h3>
    <h3>&gt;<a href="{% url repertories_statistics %}">{% trans "Statistics" %}</a></h3>
{% endblock %}

{% block music_content %}
    <h1>{% trans "Repertories statistics" %}</h1>
    <div class="clear"></div>
    <br/>
    {% include "music/repertories_stats.html" %}
    <div class="clear"></div>
    {% include "music/repertories_statistics_actions.html" %}
    <div id="repertory_content" repertory_id="{{ repertory.id }}" class="table_list" main="{% if repertory.is_main %}1{% else %}0{% endif %}">
        {% include "music/repertories_statistics_content.html" %}
    </div>
{% endblock %}