{% extends "music/base.html" %}
{% load i18n %}

{% block stylesheet %}
{% endblock %}

{% block actions %}
    <a href="{% url main_repertory %}">{% trans 'Show Main Repertory' %}</a>
    {% if has_perm %}
        <a href="{% url add_event_repertory %}">{% trans "Add Repertory" %}</a>
    {% endif %}
{% endblock %}

{% block music_content %}
    <br/>
    <div style="width: 660px; margin: 0 auto 0 auto;">
        <h1 style="background: url(/media/img/content_bg_2.png); border-radius: 7px; padding: 10px; width: 300px; text-align: center; float: left; display: block;">
            <a href="{% url main_repertory %}">{% trans 'Show Main Repertory' %}</a>
        </h1>
        <h1 style="background: url(/media/img/content_bg_2.png); border-radius: 7px; padding: 10px; width: 300px; text-align: center; float: right;">
            <a href="{% url repertories_statistics %}">{% trans 'Show Statistics' %}</a>
        </h1>
    </div>
    <h1>{% trans "Repertories for shows" %}</h1>
    {% with event_repertories as repertories %}
        {% include "music/repertories_table_content.html" %}
    {% endwith %}
    <br/>
    <h1>{% trans "Repertories for rehearsals" %}</h1>
    {% with rehearsal_repertories as repertories %}
        {% include "music/repertories_table_content.html" %}
    {% endwith %}
{% endblock %}