{% extends "base.html" %}
{% load i18n %}

{% block stylesheet %}
{% endblock %}

{% block content %}
<div class="clear"></div>
<div class="section_content">
    <h1>Repertórios</h1>
    <div class="manage_buttons">
        <a href="{% url repertory_details 1 %}">{% trans 'Show Main Repertory' %}</a>
        <a href="{% url add_repertory %}">{% trans "Add Repertory" %}</a>
    </div>
    <div class="clear"></div>
    <br />
    <div class="table_list">
        <table>
            <thead>
                <th width="200px">
                    {% trans "Name" %}
                </th>
                <th>
                    {% trans "Description" %}
                </th>
                <th width="140px">
                    {% trans "Event" %}
                </th>

            </thead>
            <tbody>
                {% for repertory in repertories %}
                <tr class="{% cycle odd,even %}" onclick="window.location = ''">
                    <td>{{ repertory.name }}</td>
                    <td>{{ repertory.description }}</td>
                    <td>{{ repertory.event }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="clear"></div>
{% endblock %}