{% load i18n %}

{% if not repertory.is_main %}
    <h2><span style="float: left;" class="handle ui-icon ui-icon-arrowthick-2-n-s"></span>{{ group.name }}</h2>
{% endif %}
<table group_id="{{ group.id }}" order="{{  group.order }}" class="repertory">
    <thead>
        {% if editable %}
        <th  class="center" width="8px">
        </th>
        {% endif %}
        <th  class="center" width="20px">
            {% trans "Cov" %}
        </th>
        <th>
            {% trans "Name" %}
        </th>
        <th  class="center" width="30px">
            {% trans "Dur" %}
        </th>
        <th  class="center" width="50px">
            {% trans "Tempo" %}
        </th>
        <th  class="center" width="100px">
            {% trans "Ratings" %}
        </th>
        <th  class="center" width="30px">
            {% trans "Mode" %}
        </th>
        <th  class="center" width="40px">
            {% trans "Tonality" %}
        </th>
        <th  class="center" width="200px">
            {% trans "Players" %}
        </th>
        {% if editable %}
        <th  class="center" width="20px">
            {% if not group.is_main and editable %}
                <a class="remove_group">
                    <img src="/media/img/cross_16.png" class="remove_song" alt="{% trans "Remove this group" %}" title="{% trans "Remove this group" %}"/>
                </a>
            {% else %}
                <img src="/media/img/cross_16_d.png" class="remove_song" style="cursor: default;" />
            {% endif %}
        </th>
        {% endif %}
    </thead>
    <tbody>
        {% for item in group.ordered_items %}
            {% include "music/song_line_repertory_content.html" %}
        {% endfor %}
    </tbody>
</table>
{% if editable %}
<div class="add_song_form">
    <div class="pretty_form manage_buttons" style="float: none; margin-top: 10px;">
        <img src="/media/img/plus_16.png" alt="Add a song to this group" title="Add a song to this group">&nbsp;
        <input name="song_name" type="text" style="width: 200px;" />
        <span class="message" style="display: none; color: red; font-size: 14px; margin-left: 10px"></span>
    </div>
    <div class="songs_content">

    </div>
</div>
{% endif %}
<br/>
<hr>
