<tr itemid="{{ item.id }}" songid="{{ item.song.id }}" number="{{ item.number }}" class="{% if forloop.counter %}{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}{% endif %}">
    <td class="nopadding center"><span class="song_handle ui-icon ui-icon-arrowthick-2-n-s"></span></td>
    <td>{{ item.number_display }}</td>
    <td class="nopadding center"><img src="{{ item.song.album.icon_url }}" /></td>
    <td>{{ item.song.name }}</td>
    <td class="center">{{ item.song.duration_display }}</td>
    <td class="center">{{ item.song.tempo_display }}</td>
    <td class="center"><img src="/media/img/cross_16.png" class="remove_song" removeurl="{% url remove_song_from_repertory repertory.id group.id item.id %}" /></td>
</tr>