{% extends "base.html" %}
{% load i18n %}
{% load common %}

{% block stylesheet %}
<link rel="stylesheet" href="/media/css/form.css" type="text/css" media="screen" title="default" />

{% if draft.object.media %}
    {% for script in draft.object.media.scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    {% for style in draft.object.media.styles %}
        <link rel="stylesheet" href="{{ style }}" type="text/css" />
    {% endfor %}
{% endif %}

{% endblock %}

{% block content %}

<div class="manage_buttons margin10">
    <form action="{% url delete_draft draft.id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="red" value="{% trans "Delete this draft" %}" />
    </form>
    <a href="{% url edit_draft draft.id %}">{% trans "Edit" %}</a>
    <form action="{% url publish_draft draft.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="draft_id" value="{{ draft.id }}" />
        <input type="submit" value="{% trans "Publish" %}" />
    </form>
</div>

<div id="draft_view">
    <h1 class="draft_head">{% trans "Draft" %}
        <ul>
            <li><label>{% trans 'Object' %}: </label>{{ draft.object }}</li>
            <li><label>{% trans 'Type' %}: </label>{{ draft.content_type }}</li>
            <li><label>{% trans 'Date' %}: </label>{{ draft.content_date }}</li>
            <li><label>{% trans 'Made by' %}: </label>  {{ draft.user }}</li>
        </ul>
    </h1>
    <div class="clear"></div>
    {% call draft.render with request as rendered %}
    {{ rendered }}
    <div class="clear"></div>
</div>

{% endblock %}