{% load i18n %}
{% load photoutils %}

<div class="photo_album">
    <h1>{{ album.name }}</h1>
    <h3>{{ album.description }}</h3>
    <br/>
    {% with request_get.list_type as list_type %}
    <div class="view_action">
        <a class="pair {% ifequal list_type 'list_pair' %}selected{% endifequal %}" href="?list_type=list_pair">
            <span></span><span></span>
            <span></span>
        </a>
        <a class="triplet {% ifequal list_type 'list_pair' %}{% else %}{% ifequal list_type 'list_quadruplet' %}{% else %}selected{% endifequal %}{% endifequal %}" href="?">
            <span></span><span></span><span></span>
            <span></span><span></span><span></span>
            <span></span>
        </a>
        <a class="quadruplet {% ifequal list_type 'list_quadruplet' %}selected{% endifequal %}" href="?list_type=list_quadruplet">
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
            <span></span><span></span>
        </a>
    </div>
    {% include "facebook_like.html" %}
    <div class="clear"></div>
    {% with album.event as event %}
    {% if event %}
        <p>
            <a href="{% url event_details event.id %}">
            {% blocktrans with name=event.name date=event.datetime %}
                These photos are related to the "{{ name }}" event performed on {{ date }}.
            {% endblocktrans %}
            </a>
        </p>
    {% endif %}
    {% endwith %}
    <p><strong>{% trans 'Number of photos:' %}</strong> {{ album.count }}</p>
    <ul class="photo_list {{ list_type }}">
    {% for photo in album.photos.all %}
        <li href="{% img_url photo 'huge' %}" title="{{ photo.description }}">
            <img src="{% img_url photo list_type %}" />
        </li>
    {% endfor %}
    </ul>

    {% endwith %}
</div>