{% load i18n %}
<ul class="photo_album_list">
{% for album in albums %}
    <li class="photo_album_item" photoalbum_url="{{ album.url }}">
        <div class="photo_album_cover">
            <img src="{{ album.cover_url }}" />
        </div>
        <div class="photo_album_info">
            <p><strong>{{ album.name }}</strong></p>
            <p>{{ album.description }}</p>
            {% if album.event %}<p>{{ album.event.date }}</p>{% endif %}
            <p>
                {% blocktrans count counter=album.count %}
                    {{ counter }} photo
                {% plural %}
                    {{ counter }} photos
                {% endblocktrans %}
            </p>
        </div>
        <div class="clear"></div>
    </li>
{% endfor %}
</ul>