{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Hey Baldock</title>
        <link rel="stylesheet" href="/media/css/960grid.css" type="text/css" />
        <link rel="stylesheet" href="/media/css/layout.css" type="text/css" />
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

        <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
        <script src="/media/js/jquery/jquery.easing.1.2.js"></script>
        <script src="/media/js/jquery/jquery.circulate.js"></script>
        <script src="/media/js/jquery/jquery.flip.min.js"></script>
        <script src="/media/js/jquery/jquery.placeholder.min.js"></script>
        <script type="text/javascript" src="/media/js/main.js"></script>
        {% block stylesheet %}
        {% endblock %}
        <script type="text/javascript" src="/media/js/last.js"></script>

        {% block open_grap_tags %}
        {% endblock %}
        <meta property="og:type" content="band"/>
        <meta property="og:site_name" content="Hey Baldock - Beatles Cover Band"/>
        <meta property="fb:admins" content="1520271889"/>

    </head>
    <body>
        <!-- Facebook API -->
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId: '{{ facebook_app_id }}',
                    channelUrl: 'http://{{ site_domain }}{% url facebook_channel %}',
                    status: true, // check login status
                    cookie: true, // enable cookies to allow the server to access the session
                    xfbml: true  // parse XFBML
                });
            };

            // Load the SDK Asynchronously
            (function(d){
                var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement('script'); js.id = id; js.async = true;
                js.src = "//connect.facebook.net/en_US/all.js";
                ref.parentNode.insertBefore(js, ref);
                window.setTimeout(function () {

                    fullHeight();
                }, 2000);
                window.setTimeout(function () {
                    fullHeight();
                }, 4000);
                window.setTimeout(function () {
                    fullHeight();
                }, 6000);
            }(document));
        </script>
        <!-- End of Facebook API -->

        <div id="yellow_submarine_bar"></div>
        <div id="background-top"></div>

        <div class="container container_3">
            <div class="clear"></div>
            <div class="grid_3">
                <div id="header">
                    <div class="top_images">
                        <img class="beatles" src="/media/img/beatles.png" />
                        <img class="baldock" src="/media/img/baldock.png" />
                        <img class="nowhere_man" src="/media/img/nowhere_man.png" />
                        <img class="hand" src="/media/img/hand.png" />
                        <img class="apple_man" src="/media/img/apple_man.png" />
                        <img class="buldogs" src="/media/img/buldogs.png" />
                        <img class="blue_meanie" src="/media/img/blue_meanie.png" />
                        <img class="sgt_pepper" src="/media/img/sgt_pepper.png" />
                        <img class="sgt_pepper2" src="/media/img/sgt_pepper2.png" />
                        <img class="lolipop" src="/media/img/lolipop.png" />
                        <img class="plant1" src="/media/img/plant1.png" />
                        <img class="vaccum" src="/media/img/vaccum.png" />
                        <img class="fish_man" src="/media/img/fish_man.png" />
                        <img class="plant2" src="/media/img/plant2.png" />
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            {% block container %}
                <div class="grid_3">
                    {% if user.is_authenticated %}
                    <div class="profile_area">
                        <a href="{% url profile %}">{{ user }}</a>
                        <a href="{% url logout %}">Logout</a>
                        <div class="clear"></div>
                    </div>
                    {% endif %}
                    <div id="logo">
                        <div>Hey Baldock <span class="beatles_cover">Beatles Cover</span></div>
                        <div class="shadow"><span class="shadow_big">Hey Baldock</span> <span class="beatles_cover shadow_small">Beatles Cover</span></div>
                    </div>
                </div>
                <div class="clear"></div>

                {% if user.is_authenticated %}
                <div class="grid_3 edit_mode">
                    <div>
                        {% trans "EDIT MODE" %}
                    </div>
                </div>
                <div class="clear"></div>
                {% endif %}

                <div class="grid_2">
                    <div id="menu">
                        {% for s in sections %}
                            <a href="{% ifequal s.slug 'home' %}/{% else %}{% url section_view s.slug %}{% endifequal %}">
                                <div class="menu_item {% ifequal s.id section.id %}selected{% endifequal %}">
                                    {{ s.menu_title }}
                                </div>
                            </a>
                        {% endfor %}
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="grid_1">
                    <div id="search">
                        <form action="{% url search %}" method="get">
                            <input type="text" name="query" value="{{ query }}" placeholder="search..." />
                        </form>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid_2">
                    <div id="content">
                        {% if messages %}
                            {% for message in messages %}
                            <div class="message {{ message.tags }}">
                                {{ message }}
                            </div>
                            {% endfor %}
                        {% endif %}
                        <div class="clear"></div>
                        {% block content %}{% endblock %}
                    </div>
                </div>

                <div class="grid_1">
                    {% block right_column %}
                    {% include "draft/portlet.html" %}
                    {% include "event/portlet.html" %}
                    {% include "event/location_portlet.html" %}
                    {% comment %}
                    <div class="portlet">
                        <h2>Enquete</h2>
                    </div>
                    {% endcomment %}
                    <div class="portlet" id="empty_portlet">
                        &nbsp;
                    </div>
                    {% endblock %}
                </div>
                <div class="clear"></div>

                <div id="footer">
                    <div class="grid_1">
                        <a href="http://www.djangoproject.com" target="_black">
                            <img src="/media/img/madewithdjango.gif" />
                        </a>
                    </div>
                    <div class="grid_1 textcenter">
                        <p>Hey Baldock - The Beatles Cover</p>
                    </div>
                    <div class="grid_1 textright">
                        <p>
                            <a href="mailto:heybaldock@gmail.com">heybaldock@gmail.com</a> - (31) 9154.6245
                        </p>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="left" style="margin-left: 360px;">
                    <img src="/media/img/yellow_submarine.png" />
                </div>
                <div class="right">
                    <img src="/media/img/brass_band.png" />
                </div>
            {% endblock %}
        </div>
    </body>
</html>