{% extends "base.html" %}
{% load i18n %}

{% block stylesheet %}
<link rel="stylesheet" href="/media/css/form.css" type="text/css" media="screen" title="default" />
{% endblock %}

{% block container %}

<div class="grid_3">
    <div id="login">
        <h1>{% trans "Login" %}</h1>
        <div class="pretty_form">
            <form action="{% url login %}{% if next %}?next={{ next }}{% endif %}" method="post">
                {% csrf_token %}
                <ul>
                    {{ form.as_ul }}
                </ul>
                <input class="login_submit" type="submit" value="{% trans 'Login' %}" />
                <div class="clear"></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

